body{
    background-color:rgb(223, 156, 168);
}
label{
    color: rgb(80, 50, 108);
}
.he4a{
    color: rgb(46, 46, 123);
}
select{
    background-color:rgb(229, 170, 229);
}
.l{
    background-color: blanchedalmond;
}
.e{
    background-color: blanchedalmond;
}
.f{
    background-color: blanchedalmond;
}
.r{
    background-color: blanchedalmond;
}
.d{
    background-color: aquamarine;
}
h3{
    padding: .5em;
}